@{
    ViewData["Title"] = "چت";
}
<div class="row">
    <div class="col-8 chat-content">
        <div id="currentChat" style="display:none">
            <div class="header" id="ChatOption" data-chatId="0">
                <img src="img/Default.jpg" />
                <h2>علی</h2>
            </div>
            <div class="chats">
                <div class="chat-me">
                    <div class="chat">
                        <p>سلام خوبی چه خبر ؟ </p>
                        <span>2020/06/05</span>
                    </div>
                </div>
                <div class="chat-you">
                    <div class="chat">
                        <p>سلام ممنون یه خبر خیلییی خوبی دارم برات</p>
                        <span>2020/06/05</span>
                    </div>
                </div>
                <div class="chat-me">
                    <div class="chat">
                        <p>چی ؟!!</p>
                        <span>2020/06/05</span>
                    </div>
                </div>
                <div class="chat-you">
                    <div class="chat">
                        <p>توی سایت codeYad دوره SignalR رایگان برگزار شده</p>
                        <span>2020/06/05</span>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <input type="text" class="form-control" id="txtMessage" placeholder="متن خود را وارد کنید">
                    <button class="btn btn-success" id="btnSendMessage" type="button">
                        ارسال
                        <i class="fa fa-send"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 rooms">
        <Ul>
            <li>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-success mb-2" style="width:100%;" data-toggle="modal" data-target="#NewChatModal">گروه جدید</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success mb-2" style="width:100%;" data-toggle="modal" data-target="#NewPrivateChatModal">پیام جدید</button>
                    </div>
                </div>
                <form>
                    <input type="text" placeholder="جستوجو کنید" class="form-control" />
                    <i class="fa fa-search"></i>
                </form>
            </li>
            <ul id="chatList">
                @if (ViewBag.Chats?.IsSuccess ?? false)
                {
                    foreach (var chat in ViewBag.Chats.Value as List<ChatBreifDto>)
                    {
                        <li data-chatid="@chat.Id">
                            @chat.Title
                            @if (chat.ImageSrc != null)
                            {
                                <img src="/@chat.ImageSrc" />
                            }
                            else
                            {
                                <img src="/img/Default.jpg" />
                            }
                            <span> لحظاتی پیش </span>
                        </li>
                    }
                }
            </ul>
        </Ul>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script>
        var UserName = "USERNAME";
        var CHATID = 0;
        var sessionId = "";
        var connection = new signalR
            .HubConnectionBuilder()
            .withUrl("/Hub/Default")
            .build();

        connection.on("Connected", ConnectedToHub);
        connection.start();

        function ConnectedToHub(username,id) {
            UserName = username;
            console.log(`Hello ${username}`);
            sessionId = id;
        }

        function CreateGroup(event) {
            event.preventDefault();
            $("#NewChatModal .btn-primary").attr("disabled", true);
            var formData = new FormData();
            formData.append("Title", event.target[1].value);
            if (event.target[2].files[0]) {
                formData.append("Image", event.target[2].files[0]);
            }
             $.ajax({
                type: "POST",
                url: '@Url.Action("CreateGroup", "Home")',
                contentType: false,
                 processData: false,
                 enctype:"multipart/form-data",
                 data: formData,
                success: function (data) {

                    if (data.isSuccess == true) {

                        $('#chatList').append(`<li data-chatid="${data.value}">
                    ${event.target[1].value}
                    <img src="img/Default.jpg" />
                    <span> لحظاتی پیش </span>
                </li>`);
                        $('#NewChatModal').modal('hide');
                        $('#NewChatModal #GroupImage').val('');
                        $('#NewChatModal #txtGroupTitle').val('');
                    }
                    else {

                        alert(data.error);
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }

             });
            $('#NewChatModal .btn-primary').prop("disabled", false);
        }

        function CreatePrivateChat(event) {
            event.preventDefault();
            var formData = new FormData();
            formData.append("UserId",event.target[1].value);
            formData.append("UserName", event.target[2].value);
             $.ajax({
                type: "POST",
                url: '@Url.Action("CreatePrivateChat", "Home")',
                contentType: false,
                 processData: false,
                 enctype:"multipart/form-data",
                 data: formData,
                success: function (data) {

                    if (data.isSuccess == true) {

                        $('#chatList').append(`<li data-chatid="${data.value}">
                    ${event.target[2].value}
                    <img src="img/Default.jpg" />
                    <span> لحظاتی پیش </span>
                </li>`);
                        $('#NewPrivateChatModal').modal('hide');
                        $('#NewPrivateChatModal #UserName').val('');
                    }
                    else {

                        alert(data.error);
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }

             });
        }
    </script>
    <script>
        $("#ChatOption").on('click', function () {
            $('#ChatInfoModal #members').html('');
            var selectedchatId = $(this).attr("data-chatId");
            $('#ChatInfoModal .input-group #ChatId').val(selectedchatId);
            // Get Chat Data And Show To ChatInfoModal
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetChatInfo", "Home")',
                data: { chatId: selectedchatId },
                success: function (data) {
                    if (data.isSuccess) {
                        for (i in data.value.members) {
                            $('#ChatInfoModal #members').append(`<h5 class="mb-2">${data.value.members[i]}</h5>`)
                        }
                        $('#ChatInfoModal').modal('show');
                    }
                    else {
                        alert(data.error);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        function AddUserToGroup(event) {
            event.preventDefault();
            var formData = {
                UserName: event.target[2].value,
                ChatId: event.target[1].value
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddUserToGroup","Home")',
                data: formData,
                success: function (data) {
                    if (data.isSuccess) {
                        $('#ChatInfoModal').modal('hide');
                        $('#ChatInfoModal #UserName').val('');
                    }
                    else {
                        alert(data.error);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    </script>
    <script>

        $('#chatList li').on('click', function () {
            var clickedchatId = $(this).attr("data-chatid");
            LoadChat(clickedchatId);
        });
        function LoadChat(id) {
            $.ajax({
            type: 'POST',
                url: '@Url.Action("GetChat", "Home")',
                data: { chatId: id, oldChatId: CHATID, connectionId:sessionId },
            success: function (data) {
                if (data.isSuccess) {
                    CHATID = id;
                    $('#currentChat .chats').html(''); // clear old chats
                    $('#ChatOption').attr('data-chatId', id); // change chatId
                    $('#currentChat').css('display', 'block'); // show current chat page
                    if (data.value.imageSrc) { // change chat image
                        $('#currentChat .header img').attr('src', `/${data.value.imageSrc}`);
                    }
                    else {
                        $('#currentChat .header img').attr('src',"img/Default.jpg");
                    }
                    $('#currentChat .header h2').text(data.value.title); // change chat title
                    for (i in data.value.messages) {
                        if (data.value.messages[i].username === UserName) {
                            $('#currentChat .chats').append(`<div class="chat-me">
                    <div class="chat">
                        <small class="text-white">${data.value.messages[i].username}</small>
                        <p>${data.value.messages[i].content}</p>
                        <span>${data.value.messages[i].postDate}</span>
                    </div>
                </div>`);
                        }
                        else {
                            $('#currentChat .chats').append(`<div class="chat-you">
                    <div class="chat">
                        <small>${data.value.messages[i].username}</small>
                        <p>${data.value.messages[i].content}</p>
                        <span>${data.value.messages[i].postDate}</span>
                    </div>
                </div>`);
                        }
                    }
                }
                else {
                    alert(data.error);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
        }
        connection.on("UpdateChat", RecieveMessage);
        function RecieveMessage(chatId) {
            console.log(chatId);
            console.log(CHATID);
            console.log(chatId == CHATID);
            console.log(chatId === CHATID);
            if (chatId == CHATID) {
                LoadChat(chatId);
            }
        }

        $('#btnSendMessage').on('click', function () {
            var msg = $("#txtMessage").val();
            if (msg) {
                connection.invoke('SendMessage', msg, $('#ChatOption').attr('data-chatId'));
                $("#txtMessage").val('');
            }
        })
    </script>
}
@section Modals
{
    <partial name="_NewChatPartial" model="default!" />
    <partial name="_NewPrivateChatPartial" model="default!" />
    <partial name="_ChatInfoPartial" model="default!" />
}
