@{
    ViewData["Title"] = "چت";
}
@section Css{
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-8 chat-content">
        <div id="currentChat" style="display:none">
            <div class="header" id="ChatOption" data-chatId="0">
                <img src="img/Default.jpg" />
                <h2>Person</h2>
            </div>
            <div class="chats"></div>
            <div class="footer">
                <div>
                    <a class="fileUpload">
                        <i class="fa fa-upload"></i>
                    </a>
                    <input type="text" class="form-control" id="txtMessage" placeholder="متن خود را وارد کنید">
                    <input type="file" class="form-control" style="display:none" id="fMedia">
                    <button class="btn btn-success" id="btnSendMessage" type="button">
                        ارسال
                        <i class="fa fa-send"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 rooms">
        <Ul>
            <li>
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-success mb-2" style="width:100%;" data-toggle="modal" data-target="#NewChatModal">گروه جدید <i class="fa fa-group" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-success mb-2" style="width:100%;" data-toggle="modal" data-target="#NewPrivateChatModal">پیام جدید <i class="fa fa-user" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-warning mb-2" style="width:100%;" asp-controller="Account" asp-action="Logout">خروج  <i class="fa fa-key" aria-hidden="true"></i></a>
                    </div>
                </div>
                <form onsubmit="SearchChat(event)">
                    <input type="text" placeholder="جستوجو کنید" class="form-control" />
                    <i class="fa fa-search"></i>
                </form>
            </li>
            <ul id="chatList">
                @if (ViewBag.Chats?.IsSuccess ?? false)
                {
                    foreach (var chat in ViewBag.Chats.Value as List<ChatBreifDto>)
                    {
                        <li data-chatid="@chat.Id" onclick="LoadChat('@chat.Id')">
                            <label>@chat.Title</label>
                            @if (chat.ImageSrc != null)
                            {
                                <img src="/@chat.ImageSrc" />
                            }
                            else
                            {
                                <img src="/img/Default.jpg" />
                            }
                            <span> @chat.LastMessageDate </span>
                        </li>
                    }
                }
            </ul>
        </Ul>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/js/IndexScripts.js"></script>
    <script>
    function CreateGroup(event) {
    event.preventDefault();
    $("#NewChatModal .btn-primary").attr("disabled", true);
    var formData = new FormData();
    formData.append("Title", event.target[1].value);
    if (event.target[2].files[0]) {
        formData.append("Image", event.target[2].files[0]);
    }
    $.ajax({
        type: "POST",
        url: '@Url.Action("CreateGroup", "Home")',
        contentType: false,
        processData: false,
        enctype: "multipart/form-data",
        data: formData,
        success: function (data) {

            if (data.isSuccess == true) {

                $('#chatList').append(`<li data-chatid="${data.value}" onclick="LoadChat('${data.value}')">
                    <label>${event.target[1].value}</label>
                    <img src="img/Default.jpg" />
                    <span>  </span>
                </li>`);
                $('#NewChatModal').modal('hide');
                $('#NewChatModal #GroupImage').val('');
                $('#NewChatModal #txtGroupTitle').val('');
            }
            else {

                alert(data.error);
            }

        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }

    });
    $('#NewChatModal .btn-primary').prop("disabled", false);
        }
        function CreatePrivateChat(event) {
    event.preventDefault();
    var formData = new FormData();
    formData.append("UserId", event.target[1].value);
    formData.append("UserName", event.target[2].value);
    $.ajax({
        type: "POST",
        url: '@Url.Action("CreatePrivateChat", "Home")',
        contentType: false,
        processData: false,
        enctype: "multipart/form-data",
        data: formData,
        success: function (data) {

            if (data.isSuccess == true) {

                $('#chatList').append(`<li data-chatid="${data.value}" onclick="LoadChat('${data.value}')">
                    <label>${event.target[2].value}</label>
                    <img src="img/Default.jpg" />
                    <span>  </span>
                </li>`);
                $('#NewPrivateChatModal').modal('hide');
                $('#NewPrivateChatModal #UserName').val('');
            }
            else {

                alert(data.error);
            }

        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    });
        }
        $("#ChatOption").on('click', function () {
    $('#ChatInfoModal #members').html('');
    var selectedchatId = $(this).attr("data-chatId");
    $('#ChatInfoModal .input-group #ChatId').val(selectedchatId);
    // Get Chat Data And Show To ChatInfoModal
    $.ajax({
        type: "POST",
        url: '@Url.Action("GetChatInfo", "Home")',
        data: { chatId: selectedchatId },
        success: function (data) {
            if (data.isSuccess) {
                for (i in data.value.members) {
                    $('#ChatInfoModal #members').append(`<h5 class="mb-2">${data.value.members[i]}</h5>`)
                }
                $('#ChatInfoModal').modal('show');
            }
            else {
                alert(data.error);
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    });
});
function AddUserToGroup(event) {
    event.preventDefault();
    var formData = {
        UserName: event.target[2].value,
        ChatId: event.target[1].value
    };
    $.ajax({
        type: "POST",
        url: '@Url.Action("AddUserToGroup","Home")',
        data: formData,
        success: function (data) {
            if (data.isSuccess) {
                $('#ChatInfoModal').modal('hide');
                $('#ChatInfoModal #UserName').val('');
            }
            else {
                alert(data.error);
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    });
}
    function LoadChat(id) {
    $.ajax({
        type: 'POST',
        url: '@Url.Action("GetChat", "Home")',
        data: { chatId: id, oldChatId: CHATID, connectionId: sessionId },
        success: function (data) {
            if (data.isSuccess) {
                CHATID = id;
                $('#currentChat .chats').html(''); // clear old chats
                $('#ChatOption').attr('data-chatId', id); // change chatId
                $('#currentChat').css('display', 'block'); // show current chat page
                if (data.value.imageSrc) { // change chat image
                    $('#currentChat .header img').attr('src', `/${data.value.imageSrc}`);
                }
                else {
                    $('#currentChat .header img').attr('src', "img/Default.jpg");
                }
                $('#currentChat .header h2').text(data.value.title); // change chat title
                for (i in data.value.messages) {
                    if (data.value.messages[i].username === UserName) {
                        if (data.value.messages[i].isFile) {
                            $('#currentChat .chats').append(`
                <div class="chat-me row">
                                <div class="chat col-2" oncontextmenu="messageOptions('${data.value.messages[i].id}');return false;">
                                    <small class="text-white">${data.value.messages[i].username}</small>
                                    <p><a href='/${data.value.messages[i].filePath}' target="_blank">${data.value.messages[i].content}</a></p>
                                    <span>${data.value.messages[i].postDate}</span>
                                </div>
                                <div class="col-10" style="display:none" id="message-option-list-${data.value.messages[i].id}">
                                    <button class="btn btn-danger" onclick="DeleteMessage('${data.value.messages[i].id}')"> حذف </button>
                                    <button class="btn btn-white" onclick="$('#message-option-list-${data.value.messages[i].id}').css('display','none')">بستن</button>
                                </div>
                        </div>`);
                        }
                        else {
                            $('#currentChat .chats').append(`
                <div class="chat-me row">
                                <div class="chat col-2" oncontextmenu="messageOptions('${data.value.messages[i].id}');return false;">
                                    <small class="text-white">${data.value.messages[i].username}</small>
                                    <p>${data.value.messages[i].content}</p>
                                    <span>${data.value.messages[i].postDate}</span>
                                </div>
                                <div class="col-10" style="display:none" id="message-option-list-${data.value.messages[i].id}">
                                    <button class="btn btn-danger" onclick="DeleteMessage('${data.value.messages[i].id}')"> حذف </button>
                                    <button class="btn btn-white" onclick="$('#message-option-list-${data.value.messages[i].id}').css('display','none')">بستن</button>
                                </div>
                        </div>`);
                        }
                    }
                    else {
                        if (data.value.messages[i].isFile) {
                            $('#currentChat .chats').append(`
                <div class="chat-you row">
                                <div class="chat col-2">
                                    <small>${data.value.messages[i].username}</small>
                                    <p><a href='/${data.value.messages[i].filePath}' target="_blank">${data.value.messages[i].content}</a></p>
                                    <span>${data.value.messages[i].postDate}</span>
                                </div>
                                <div class="col-10" style="display:none" id="message-option-list-${data.value.messages[i].id}">
                                    <button class="btn btn-danger" onclick="DeleteMessage('${data.value.messages[i].id}')"> حذف </button>
                                    <button class="btn btn-white" onclick="$('#message-option-list-${data.value.messages[i].id}').css('display','none')">بستن</button>
                                </div>
                </div>`);
                        }
                        else {
                            $('#currentChat .chats').append(`
                <div class="chat-you row">
                                <div class="chat col-2">
                                    <small>${data.value.messages[i].username}</small>
                                    <p>${data.value.messages[i].content}</p>
                                    <span>${data.value.messages[i].postDate}</span>
                                </div>
                                <div class="col-10" style="display:none" id="message-option-list-${data.value.messages[i].id}">
                                    <button class="btn btn-danger" onclick="DeleteMessage('${data.value.messages[i].id}')"> حذف </button>
                                    <button class="btn btn-white" onclick="$('#message-option-list-${data.value.messages[i].id}').css('display','none')">بستن</button>
                                </div>
                </div>`);
                        }
                    }
                    $(`#chatList li[data-chatid="${id}"] span`).text(data.value.messages[i].postDate);
                }
                $('#currentChat .chat:last').attr('id', 'LastMessageInThisChat');
                document.getElementById('LastMessageInThisChat').scrollIntoView();
                $('#currentChat .chat:last').removeAttr('id');
            }
            else {
                alert(data.error);
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    });
        } connection.on('SendNotification', function (name, chatId, msg) {
            if (CHATID !== chatId) {
                console.log(CHATID)
                console.log(chatId)
                console.log(CHATID !== chatId)

                if (Notification.permission === 'granted') {
                    var chatTitle = $(`#chatList li[data-chatid="${chatId}"] label`).text();
                    var notification = new Notification(chatTitle,
                        {
                            body: `${name} : ${msg}`
                        });
                }
            }
        });
    </script>
    <script>
    $(".fileUpload").click(function () {
        var isText = $('.fileUpload i').hasClass("fa fa-upload");
        if (isText) {
            $(".footer input[type='text']").hide();
            $(".footer input[type='text']").val('');
            $(".footer input[type='file']").show();
            $(".fileUpload i").removeClass("fa-upload");
            $(".fileUpload i").addClass("fa-align-justify");
        } else {
            $(".footer input[type='text']").show();
            $(".footer input[type='file']").hide();
            $(".fileUpload i").addClass("fa-upload");
            $(".fileUpload i").removeClass("fa-align-justify");
        }
    });
        function SendMedia() {
            var formData = new FormData();
            formData.append("ChatId", $('#ChatOption').attr('data-chatId'));
            formData.append("Media", document.getElementById("fMedia").files[0]);
        $.ajax({
            type: "POST",
            contentType: false,
            processData: false,
            enctype: "multipart/form-data",
            url: '@Url.Action("SendMedia", "Home")',
            data: formData,
            success: function (res) {
                document.getElementById("fMedia").value = '';
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
        }
    </script>
}
@section Modals
{
    <partial name="_NewChatPartial" model="default!" />
    <partial name="_NewPrivateChatPartial" model="default!" />
    <partial name="_ChatInfoPartial" model="default!" />
}
